 <template>
    <div class="container">
       
        <h2 style="margin-left : 40%"> <img class="imag" src="/leyton.png" alt="">  Chat </h2>
        <div class="profile"> <h4 class="prf"> {{ this.user.name }} </h4></div>


     

        <!-- <div class="mb-2">
             <input @keyup="typing()"  type="text"  v-model="message" placeholder="enter message" >

             <select v-model="reciever" >
                 <option v-for="us in friends" :key="us.id" :value="us.id"> {{ us.name }} </option>
             </select>
        <button @click="sendMessage()" class="btn btn-primary">send..</button>
        </div>
       
        <h5 v-if="isTyping">  {{ typer }} is typing ... </h5>
        <h4 v-for="sms of messages" :key="sms.msg" > <span class="usr"> {{ sms.user }} </span> :  {{ sms.msg }} </h4> -->


        <div class="row mt-5">
<!-- 
            <div class="col-4">
               <ul class="list-group">
                    <li class="list-group-item" 
                    @click="selectFriend(us.id)" v-for="us in friends" :key="us.id" :id="us.id">
                      <span >  {{ us.name }} </span> 
                    </li>
                    
                </ul>
            </div>

             <div class="col-8">
               <div class="chat">
                     <h5 v-if="isTyping">  {{ typer }} is typing ... </h5>
                     <h4 v-for="sms of messages" :key="sms.msg" > <span class="usr"> {{ sms.user }} </span> :  {{ sms.msg }} </h4>
               </div>
               <div class="inpt">

                   <input @keyup="typing()"  type="text"  v-model="message" placeholder="enter message" 
                   class="msg" >
                   <button @click="sendMessage()"
                   class="btn btn-primary snd">send..</button>
               </div>
            </div>  -->

        </div>


        <!-- tabs -->
        <div style="margin-left:10%">
        <b-tabs   vertical
        content-class="mt-3">
            <b-tab   :title="us.name" v-for="us in friends" :key="us.id" 
             
            >

               <espaceMsg :user="user" :rec="us"/>

            </b-tab>
            
        </b-tabs>
        </div>

    </div>
</template>

<script>

import espaceMsg from './espaceMsg';
    export default {

        components:{
            espaceMsg,
        },

        props : ['user'],

        data(){
            return{

                messages : [],
                message : '',
                isTyping : false,
                typer : null ,
                users : [],
                reciever : this.user.id ,

                isActive : false ,

                tst : '',

            }
        },

        computed : {

            friends() {
                return this.users.filter(u => {
                    return u.id != this.user.id ;
                });
            }

        },

        methods:{

            //tests new design
            selectFriend(id){
                console.log('friend selecred',id);
                this.reciever = id ;
                this.isActive = true ;
                console.log(this.reciever);

               console.log('refs',this.$refs.value.id);
                
                
                
                
            },
            

           /* sendMessage() {

                console.log('rec'+this.reviever);
                
                axios.post('/chat',
                {msg : this.message , reciever : this.reviever }
                )
                .then(res => {
                    console.log(res);
                    this.message = '';
                })
                .catch(err => {
                    console.log(err);
                    
                });
            },*/

            // typing() {
            //    window.Echo.private('test')
            //         .whisper('typing'+this.reciever, {
            //         name: this.user.name
            //         });
            //     },

            getAllUser() {
                axios.get('/users')
                .then(res => {
                  this.users = res.data ;
                  console.log(res);
                  
                   
                })
                .catch(err => {
                    console.log(err);
                    
                });
            },

          /*  watcher() {
                window.Echo.private('chat.'+this.reviever).listen('chat' , (e) => {
                this.messages.push( { msg : e.message , user : e.usr.name} ) ;
                this.isTyping = false ;
                console.log(e);
                

            });
            },*/


            // sendMessage() { 
            //      window.Echo.private('test')
            //         .whisper('sent'+this.reciever, {
            //         message: this.message,
            //         user : this.user,
            //         });
            //         this.reciever ='';
            //         this.message = '';
            //     },
            

            



           
        },

        mounted() {
            
            //this.watcher();

            // Echo.private('test')
            //     .listenForWhisper('typing'+this.user.id, (e) => {
            //             this.isTyping = true ;
            //             this.typer = e.name;

            //             setTimeout( () => {
            //                 this.isTyping = false ;
            //             }, 5000)
            //     });

           
            // Echo.private('test')
            // .listenForWhisper('sent'+this.user.id , (e) => {
            //     console.log(e);
            //    this.messages.push({ msg : e.message , user : e.user.name})
            //    this.isTyping = false ;
            // })
           

            this.getAllUser() ;

           
        }
    }






    /* window.Echo.join('chat')
                .here( (users) => {
                    console.log('all users'+users) ;
                } )
                .joining((user) => {
                    console.log('the user joigned'+user.name);
                    
                
                }).leaving( (user ) => {
                
                     console.log('the user left chat'+user.name);
                
                } ).listen('chat' , (e) => {
                
                console.log(  'this is the message'+e.message);
                
            })*/
</script>

<style>
    .container{
        margin-top: 20px;
    }

    .msg {
        font-size: 15px;
        margin-bottom: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }

    #tst{
        opacity: 0;
    }
    

    .profile{
        width: 100px;
        height: 100px;
        background-color: whitesmoke;
        text-align: center;
        border-radius: 50px;
       
    }

    .profile{
         margin-top: 20px;
         color: black;
         margin-left : 44%
    }

    .chat{
        height: 80%;
        /* background-color: rgba(245, 245, 245, 0.671); */
        padding: 10px 10px;
        /* border: 0.01px solid gray; */
         overflow: scroll;
    }
    .prf{
        position: relative;
        top: 30px;
    }

    .inpt{
        height: 15%;
        background-color: whitesmoke;
        display: flex;
        border: none;
    }
    .col-8{
        height: 400px;
    }
    .msg{
        width: 90%;
        height: 100%;
        border: none;
        background-color: rgba(255, 255, 255, 0.253);
    }

    .imag{
        height: 100px;
    }

   

   

</style>

