<template>

    <div class="col-8">
        
                <div col="6 offset-3">
                    <div v-if="isMesageHere" class="card mb-5">
                        <p > {{ notif }}  </p>
                    </div>
                    
                </div>
                <div class="card head">{{ rec.name }}</div> 
               <div class="card chat">
                     <h5 v-if="isTyping">  {{ typer }} is typing ... </h5>
                     <h4 v-for="sms of messages" :key="sms.msg" > 
                         <span v-if="sms.user == 'You'" class="rght">  
                                <span  class="usr"> {{ sms.user }} </span> :  {{ sms.msg }}
                               
                         </span>
                         <span v-else>
                              <span class="usr"> {{ sms.user }} </span> :  {{ sms.msg }}
                         </span>
                         
                    </h4>

                    

               </div>
               <div class="inpt">

                   <input @keyup="typing()"  type="text"  v-model="message" placeholder="enter message" 
                   class="msg" >
                   <button @click="sendMessage()"
                   class="btn  snd">
                   <img src="/telegrame.png">
                   </button>
               </div>
     </div>
    
</template>

<style  scoped>

h5{
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
}
h4 {
    font-size: 16px;
}

img{
    width: 100%;
    height: 100%;
}
.snd{
    width: 30%;
}

p{
    letter-spacing: 2px;
    color: crimson;
    padding: 5px 5px ;
    text-align: center;
}

.rght{
    float: right;

}


.usr {
        font-style: italic;
        font-weight: bold;
        color: gray;
        font-size: 16px;
    }
    .head{
        height: 40px;
        border-bottom: none;
        padding-left: 10px ;
        background-color: #007bff;
        color: white;
    }


</style>

<script>
export default {

    props:['user','rec'],

    data(){
        return {
            messages : [],
            messagesByYou : [],
            message : '',
            isTyping : false,
            typer : null ,
            reciever : this.rec.id ,
            isMesageHere : false,
            notif : '',
            
            
        }
    },

    methods:{
            typing() {
               window.Echo.private('test')
                    .whisper('typing'+this.reciever, {
                    name: this.user.name
                    });
                },

            sendMessage() { 
                 this.messages.push({ msg : this.message , user : 'You'})
                 window.Echo.private('test')
                    .whisper('sent'+this.reciever, {
                    message: this.message,
                    user : this.user,
                    });
                   
                    this.message = '';
                    
                },

    },

    mounted(){

         Echo.private('test')
                .listenForWhisper('typing'+this.user.id, (e) => {
                   
                        this.isTyping = true ;
                        this.typer = e.name;

                        setTimeout( () => {
                            this.isTyping = false ;
                        }, 5000)
                });

           
            Echo.private('test')
            .listenForWhisper('sent'+this.user.id , (e) => {
                console.log(e);
               
                 if(this.rec.id === e.user.id)
                {
                    this.messages.push({ msg : e.message , user : e.user.name}) ;
                }
                else {
                     this.isMesageHere = true ;
                     this.notif = e.user.name+' sent you a message ';
                }
               this.isTyping = false ;

               setTimeout( ()=> {
                   this.isMesageHere = false ;
               } , 5000)
            });


            
            
            
    }
    
}
</script>