<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Example Component</div>

                    <div class="card-body">
                        I'm an example component.
                    </div>
                </div>
            </div>
        </div>

        <ul class="list-group">
            <li class="list-group-item" v-for="user in users" :key="user.name" >
                <span class="avatar"> {{ user.name }} </span>  <span class="ml-5"> {{ user.email }} </span>
            </li>
        </ul>

    </div>
</template>

<script>
    export default {

        data(){
            return{
                users : [] ,
            }
        },

        methods:{
            addToConected(user) {
                var add = true ;
                this.users.map(u => {
                    if(u.id === user.id) {
                        add = false ;
                    }
                });
                if(add) {
                    this.users.unshift(user);
                }

            },
            notConected(usr) {


            }
        },

        mounted() {
            console.log('mounted');

            window.Echo.private('chat').listen('chat' , (e) => {
                console.log(e);

            });

            // window.Echo.join('message')
            //     .here( (users) => {
            //         console.log(users) ;
            //     } )
            //     .joining((user) => {
            //     console.log(user.name+"  is joigning the room");
            //     this.addToConected(user);
            // }).leaving( (user ) => {
            //     console.log( user.name+' leaving the room');
            //     this.users.filter( u => ( u.id !== user.id ) );
            //     this.users.map(u => {

            //         if(u.id === user.id) {
            //             this.users.splice(  this.users.indexOf(u) , 1  ) ;
            //         }
            //         console.log(u.name + "isit");
            //     })
            // } ).listen('message' , (e) => {
            //     console.log(e.mssg+"  presence channel");
            // })

           /* Echo.connector.socket.on( 'subscription_error', (channel, data) => {
                console.log(channel, data);
                console.log('err');

            } );*/
        }
    }
</script>

<style>
    .container{
        margin-top: 20px;
    }
</style>

